# gradle
build/
.gradle/
!gradle/wrapper/gradle-wrapper.jar
libs/

# idea
out/
classes/
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# eclipse
bin/
*.launch
.settings/
.metadata/
.classpath
.project
.eclipse/

# vscode
.vscode/

# other
run/
runs/
hs_err_*.log
*.hprof
replay_pid*.log
.DS_Store
Thumbs.db
